<html lang="en">
<head>
    <title>책 자세히 보기</title>
</head>
<body>
    <div id="header"></div>
    <div id="bookinfo" bookID={{bookID}}></div>
    <script src="/js/Header.js"></script>
    <script src="/js/BookInfo.js"></script>
</body>
</html>